<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto em Node.js</title>
	<link rel="stylesheet" href="./cssdoindex.css">
</head>
<body>
	<header>
		<h1>Projeto em Node.js</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contatos">Contatos</a></li>
				<li><a href="/produtos">Produtos</a></li>
				<li><a href="/catalogo">Catálogo</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Sobre o Projeto</h2>
			<p>Este é um projeto desenvolvido em Node.js que possui um servidor com rotas para abrir diferentes tipos de arquivos. O objetivo é apresentar como utilizar o Node.js para criar um servidor web simples e eficiente.</p>
		</section>
		<section>
			<h2>Integrantes do Grupo</h2>
			<ul>
				<li>Matheus Dos Santos Marques Fernandes-30080061</li>
				<li>Giovanni Della Dea Ramos-29516595</li>
				<li>Thalisson Henrique Rodrigues de Freitas-29945879</li>
			</ul>
		</section>
	</main>
</body>
</html>
