<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <link rel="stylesheet" href="produto.css">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="produto.css">
    <title>Produto 1</title>
</head>
<body>
    <header>
        <h1>Produto 1</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contatos">Contatos</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/catalogos">Catálogo</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="./d51065a405.webp" alt="Produto 1">
        <h2>Descrição do Produto 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor lacus eu lectus finibus, et cursus ipsum vehicula. Donec maximus eleifend nulla eget porttitor. Phasellus ut dapibus justo. Aliquam imperdiet mauris mauris, sed molestie magna congue vitae. Praesent rutrum nisl at metus ultrices, ut fringilla leo feugiat. Praesent ut odio vitae urna bibendum egestas vel quis velit. Morbi ut purus a justo vestibulum ullamcorper. Sed ut sodales est. Morbi vel libero ipsum. Mauris sagittis ligula at augue luctus, quis ullamcorper sapien commodo. Duis a augue vel risus facilisis laoreet.</p>
        <h3>R$ 100,00</h3>
        <button>Comprar</button>
    </main>
</body>
</html>

</body>
</html>